# Endereço e portas do kRPC (quando o KSP roda no host)
KRPC_ADDRESS=host.docker.internal
KRPC_RPC_PORT=5000
KRPC_STREAM_PORT=5001

# URL da API interna (usado pelo Streamlit)
API_URL=http://api:8000/telemetry
POLL_INTERVAL=1.0